<div>
    <h1>Welcome Sterling to CSE Motors!</h1>

    <div id="car">
        <picture>
            <source media="(min-width:650px)"
            srcset="/images/vehicles/delorean.jpg">
            <source media="(min-width:465px)"
            srcset="/images/vehicles/delorean-tn.jpg">
            <img src="/images/vehicles/delorean.jpg"
            alt="Delorean" style="width:auto;">
            <div id="content">
                <h2>DMC Delorean</h2>
                <p>3 Cup holders</p>
                <p>superman doors</p>
                <p>Fuzzy dice</p>
                <a href="www.byui.edu" target="_blank">Own Today</a>
            </div>
        </picture>
    </div>

    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <table>
            <tr>
                <td>Flux Capacitor</td>
                <td>Flame Decals</td>
            </tr>
            <tr>
                <td>Bumper Stickers</td>
                <td>Hub Caps</td>
            </tr>
        </table>
    </div>

    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul class="a">
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>

</div>

