/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

nav {
  background-color:black;
  text-align: left;
}
 nav ul {
  margin: 0;
 }

nav li {
  display: inline-block;
  padding: 20px;
  font-weight: bold;
  color: white;
}

html {
  background-image: url("/images/site/checkerboard.jpg");
  background-repeat: repeat;
  background-size: 200px;
}

body {
  background-color: white;
  border: 5px solid darkturquoise;
  margin: 2em;
  padding: 20px;
}

#content {
  width: 300px;
  border: 5px solid darkturquoise;
  background-color:whitesmoke;
  padding: 20px;
  margin: 20px;
  text-align: left;
  position: absolute;
  bottom: 130px;
  left: 20px;
}

#car {
  text-align: right;
}

#tools {
  text-align: right;
}

#upgrades {
  width: 40%;
  text-align: left;
  background-color: whitesmoke;
  padding:10px;
}

#reviews {
  position:absolute;
  right:50px;
  width: 40%;
  text-align: left;
  background-color: whitesmoke;
  padding:10px;
}

a:link, a:visited {
  background-color: darkturquoise;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  background-color:lightseagreen;
}

ul.a {
  list-style-type: square;
}

@media only screen and (max-width: 650px) {
  body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
